* {
    margin: 0;
    padding: 0;

}

.main {
    background-image: url(.//Images/image.png);
    height: 70vh;
    position: relative;
    background-position: center center;
    background-size: 100vw;
    background-repeat: no-repeat;
    width: 100vw;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.44;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    display: flex;
    max-width: 80vw;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}

nav img {
    color: red;
    width: 144px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    @import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    font-family: "Roboto", sans-serif;
    font-style: normal;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
}

.hero>:first-child {
    font-weight: 600;
    font-size: 48px;

}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
}

.hero>:nth-child(3) {
    font-weight: 400;
    font-size: 20px;
}

.sepration {
    background-color: rgba(128, 128, 128, 0.922);
    height: 5px
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border: 1px solid white;
    cursor: pointer;
}

.red-btn {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.main input {
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    background: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
    color: white;
}

.red-btn-sm {
    background-color: red;
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;

}

.first1 {
    background-color: black;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 30vw;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 40px;
    right: 0;
    width: 26vw;
}

.first>div :first-child {
    font-size: 48px;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 24px;
    font-weight: bolder;
}

.IstImg {
    position: relative;
}

.IstImg img {
    width: 30vw;
    position: relative;
    z-index: 10;
}

.IstImg video {
    position: absolute;
    top: 30px;
    right: 0;
    left: 80px;
    width: 16vw;
}

.play {
    color: white;
    font-size: 30px;
    padding: 20px 20px;
    margin: 20px 100px;
    text-align: center;
    gap: 30px 30px;

}

.questions {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0 100px;
    text-align: center;
    justify-content: center;
}


.question {
    border: 2px solid white;
    margin: 5px;
    padding: 50px;
    width: 60vw;
    height: 5vh;
    font-size: 30px;
    background-color: rgba(248, 243, 243, 0.21);
    gap: 20px 20px;
}

.question1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.question2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.question3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.question4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.question5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer {
    max-width: 100vw;
    padding: 75px 0;
}

.footer-item{
    align-items: center;
}

@media screen and (max-width: 1300px) {

.footer {
    display: grid;
    grid-template-rows: 1fr;
    gap: 25px;
}
}
.footer a {
font-size: 14px;
color: white;
}

.footer-item {
display: flex;
flex-direction: column;
gap: 23px;
}